@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Эти префиксы позволят сохранить размер шрифта */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 16px;
  font-weight: normal;
}

/* Обнуление стилей списков */
ul,
ol {
  list-style: none;
}

/* Меньшая высота строк */
body {
  min-height: 100vh;
}

/* Баланс переноса текста в заголовках */
h1,
h2,
h3,
h4,
button,
input,
label,
select {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

/* Ссылки без класса получают стиль по умолчанию */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Картинки по блоку */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифт */
input,
button,
textarea,
select {
  font-family: inherit;
  outline: none;
}

/* для пустых <textarea> */
textarea:not([rows]) {
  min-height: 10em;
}

/* Для якорных ссылок */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Gravity";
  src: url("../../resources/fonts/Gravity-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gravity";
  src: url("../../resources/fonts/Gravity-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gravity", sans-serif;
  padding-top: 72px;
  background-color: #f5f7fa;
}

.container {
  width: 772px;
  margin: 0 auto;
}

a, button, label, input, textarea, select {
  cursor: pointer;
}

h5 {
  font-size: 12px;
}

h3 {
  font-size: 15px;
  font-weight: 700;
  color: #292f37;
}

input[type=radio],
input[type=checkbox] {
  width: auto;
  word-break: break-all;
}

label {
  word-break: break-all;
  font-size: 13px;
}

.header {
  display: flex;
  align-items: center;
  background-color: #323a44;
  padding: 0 20px;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
}

.header-logo {
  position: absolute;
  top: 0;
}

.nav {
  width: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  color: #cbcfd8;
}

.nav-list__btn {
  background-color: inherit;
  border: none;
  padding: 17px 23px 19px;
  font-size: 13px;
  line-height: 1.23;
  color: #cbcfd8;
  position: relative;
  font-weight: 400;
}

.nav-list__btn::after {
  display: block;
  position: absolute;
  left: 10%;
  width: 0;
  height: 2px;
  background-color: #cbcfd8;
  content: "";
  transition: all 0.3s ease-out;
}

.nav-list__btn:hover::after,
.nav-list__btn:focus::after {
  width: 80%;
  scale: 1.05;
}

.nav-list__btn:focus {
  background-color: #292f37;
  color: #ffffff;
  font-weight: 700;
}

.user {
  display: flex;
  gap: 12px;
}

.user-icon {
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.user-button {
  border: none;
  background-color: #323a44;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 84px;
}

.form-title {
  font-size: 20px;
  line-height: 24px;
  color: #292f37;
  margin-bottom: 20px;
  letter-spacing: 1.6px;
  font-weight: 700;
  padding-left: 4px;
}

.form-items {
  padding: 15px 20px 20px 20px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-item__select {
  background-color: #f6f6f7;
  color: #4c515c;
  border: 1px solid #cbcfd8;
  border-radius: 4px;
  width: 100%;
  padding: 8px 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-item__select::-ms-expand {
  display: none;
}

.form-item__desc {
  color: #4c515c;
  font-size: 13px;
}

.form-item__textarea {
  border: 1px solid #cbcfd8;
  border-radius: 4px;
  width: 100%;
  color: #4c515c;
  resize: none;
  padding: 7px 12px;
}

.form-items__padding {
  padding: 14px 20px 20px 56px;
}

.form-items__title {
  font-size: 17px;
  font-weight: 700;
  position: relative;
  color: #292f37;
  margin-bottom: 8px;
}

.form-items__title::before {
  content: "";
  position: absolute;
  background-image: url("../../resources/icons/done.svg");
  left: -35px;
  top: 0;
  width: 24px;
  height: 24px;
}

.form-items__link {
  color: #4870b7;
}

.form-item__subtitle {
  display: block;
  color: #979ca9;
  margin-bottom: 6px;
}

.form-item__subtitles {
  display: flex;
  justify-content: space-between;
}

.alerts-inner {
  display: flex;
  align-items: center;
  gap: 32px;
}

.alert-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

label {
  color: #4c515c;
}

input[type=radio] {
  position: relative;
  min-width: 16px;
  height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=radio]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #979ca9;
}

input[type=radio]:checked::before {
  border: 1px solid #5b85ce;
}

input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #5b85ce;
  transform: translate(-50%, -50%);
}

.clarifications {
  display: flex;
  gap: 12px;
}
.clarifications .form-item__select {
  background-color: #ffffff;
}

.clarifications-wrapper__date {
  max-width: 236px;
  width: 100%;
}

.select-wrapper {
  position: relative;
}

.select-wrapper__time {
  width: 112px;
}

.select-items {
  display: flex;
  gap: 12px;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: 16px;
  height: 10px;
  background: url(../../resources/icons/arrow-select-gray1.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.format {
  display: flex;
  gap: 12px;
}

.format-type {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  min-width: 112px;
  padding: 8px;
  border-radius: 4px;
}
.format-type input[type=radio] {
  position: relative;
  min-width: 39px;
  height: 42px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.format-type .format-type__excel::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  border-radius: 0%;
  background-image: url("../../resources/icons/xls.svg");
}
.format-type .format-type__word::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  border-radius: 0%;
  background-image: url("../../resources/icons/docx.svg");
}
.format-type .format-type__pdf::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
  border-radius: 0%;
  background-image: url("../../resources/icons/pdf.svg");
}
.format-type input[type=radio]:checked::before,
.format-type input[type=radio]:checked::after {
  border: none;
}
.format-type input[type=radio]:checked::after {
  display: none;
}
.format-type input[type=radio]:checked::before {
  background-color: #d8e4f9;
}
.format-type input[type=radio]:checked::before + .format-type {
  background-color: #d8e4f9;
}
.format-type label {
  width: 100%;
  line-height: 2.4;
  padding-left: 12px;
}

.format-type__bgColor {
  background-color: #d8e4f9;
}

.input-wrapper input[type=text] {
  font-size: 13px;
  color: #4c515c;
  padding: 8px 12px;
  border: 1px solid #cbcfd8;
  border-radius: 4px;
  max-width: 484px;
  width: 100%;
}

.filter-items {
  display: flex;
  align-items: center;
}
.filter-items .filter-item {
  background-color: #ffffff;
  padding: 2px 10px;
  border-radius: 11px;
}
.filter-items .filter-item label {
  color: #4870b7;
  font-size: 12px;
}
.filter-items .filter-item__checked {
  color: #ffffff;
  background-color: #4870b7;
}
.filter-items .filter-item__checked label {
  color: #ffffff;
}
.filter-items input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.data-items {
  display: flex;
}
.data-items .data-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 12px;
  padding-left: 21px;
}
.data-items .data-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: #4c515c;
  position: relative;
}
.data-items .data-items__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.data-items .data-item__disabled {
  position: absolute;
  display: block;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}
.data-items .data-items__checkbox::before {
  content: "";
  position: absolute;
  display: block;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 1px solid #edeeef;
  border-radius: 2px;
  transition: 0.3s;
}
.data-items .data-items__checkbox::after {
  content: "";
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url(../../resources/icons/checkbox-check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  opacity: 0;
  transition: 0.3s;
}
.data-items .visible::after {
  display: none;
}
.data-items .data-items__checkbox:checked.data-items__checkbox::after {
  opacity: 1;
}

.languages-inner {
  display: flex;
  align-items: center;
  gap: 32px;
}

.languages-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.subscription-wrapper {
  padding: 6px 24px 24px;
}

.subscription__checkbox {
  display: flex;
  align-items: center;
}

.subscription-check {
  margin-bottom: 35px;
}

.subscription__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.subscription__checkBtn {
  display: inline-block;
  position: relative;
  padding-left: 42px;
  font-size: 13px;
  line-height: 1.23;
}

.subscription__checkBtn::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 48%;
  transform: translateY(-50%);
  width: 32px;
  height: 20px;
  background-color: #edeeef;
  border-radius: 10px;
  transition: all 0.3s;
}

.subscription__checkBtn::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 48%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s;
  z-index: 2;
}

.subscription__input:checked + .subscription__checkBtn::after {
  background-color: #8fc144;
}

.subscription__input:checked + .subscription__checkBtn::before {
  left: 13px;
}

.subscription-btn__save {
  font-size: 13px;
  line-height: 1.23;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #8fc144;
  border-radius: 4px;
  border: none;
}

.aside {
  position: fixed;
  top: 0;
  max-width: 200px;
  height: 100%;
  background-color: #ffffff;
  z-index: 3;
}

.nav-wrapper {
  padding-top: 70px;
}

.nav-title {
  font-size: 17px;
  font-weight: 700;
  position: relative;
  color: #292f37;
  margin-bottom: 20px;
  margin: 0 20px 10px;
}

.nav-title::after {
  content: "";
  position: absolute;
  background-image: url("../../resources/icons/icon-14-addtheme.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-list__item button {
  padding: 10px 20px;
  border: none;
  border-top: 1px solid #edeeef;
  color: #4870b7;
  font-size: 12px;
  background-color: #ffffff;
  transition: all 0.5s;
}

.nav-list__item:last-child {
  border-bottom: 1px solid #edeeef;
}

.nav-list__item button:focus {
  background-color: #edeeef;
  color: #292f37;
  font-weight: 700;
  transition: all 0.5s;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: #323a44;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.footer-link, .footer-desc {
  font-size: 12px;
  color: #979ca9;
}/*# sourceMappingURL=main.css.map */