@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Эти префиксы позволят сохранить размер шрифта */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: normal;
}

/* Обнуление стилей списков */
ul,
ol {
  list-style: none;
}

/* Меньшая высота строк */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Баланс переноса текста в заголовках */
h1, h2, h3, h4,
button, input, label, select {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

/* Ссылки без класса получают стиль по умолчанию */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Картинки по блоку */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифт */
input, button,
textarea, select {
  font: inherit;
  outline: none;
}

/* для пустых <textarea> */
textarea:not([rows]) {
  min-height: 10em;
}

/* Для якорных ссылок */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Gravity";
  src: url("../../resources/fonts/Gravity-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gravity";
  src: url("../../resources/fonts/Gravity-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Gravity", sans-serif;
  padding-top: 72px;
  background-color: #f5f7fa;
}

.container {
  width: 772px;
  margin: 0 auto;
}

a, button, label, input, textarea {
  cursor: pointer;
}

h5 {
  font-size: 12px;
}

.header {
  display: flex;
  align-items: center;
  background-color: #323a44;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-logo {
  position: absolute;
  top: 0;
}

.nav {
  width: 100%;
}

.nav-list {
  display: flex;
  height: 100%;
  justify-content: space-between;
  color: #cbcfd8;
}

.nav-list__btn {
  background-color: inherit;
  border: none;
  padding: 17px 23px 19px;
  font-size: 13px;
  line-height: 1.23;
  color: #cbcfd8;
  position: relative;
  font-weight: 400;
}

.nav-list__btn::after {
  display: block;
  position: absolute;
  left: 10%;
  width: 0;
  height: 2px;
  background-color: #cbcfd8;
  content: "";
  transition: all 0.3s ease-out;
}

.nav-list__btn:hover::after,
.nav-list__btn:focus::after {
  width: 80%;
  scale: 1.05;
}

.nav-list__btn:focus {
  background-color: #292f37;
  color: #ffffff;
  font-weight: 700;
}

.user {
  display: flex;
  gap: 12px;
}

.user-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.user-button {
  border: none;
  background-color: #323a44;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-title {
  font-size: 20px;
  line-height: 24px;
  color: #292f37;
  margin-bottom: 20px;
  letter-spacing: 1.6px;
  font-weight: 700;
}

.form-items {
  padding: 15px 20px 20px 20px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.select-wrapper {
  background-color: #f6f6f7;
  border: 1px solid #cbcfd8;
  border-radius: 4px;
}

.form-item__select {
  background-color: #f6f6f7;
  width: 99%;
  border: none;
  border-radius: 4px;
}

.form-item__select {
  padding: 8px 12px;
}

.form-item__desc {
  color: #4c515c;
}

.form-item__textarea {
  border: 1px solid #cbcfd8;
  border-radius: 4px;
  width: 100%;
  color: #4c515c;
  resize: none;
  padding: 7px 12px;
}

.form-items__padding {
  padding: 14px 20px 20px 56px;
}

.form-items__title {
  position: relative;
  margin-bottom: 8px;
}

.form-items__title::before {
  content: "";
  position: absolute;
  background-image: url("../../resources/icons/done.svg");
  left: -35px;
  top: 0;
  width: 24px;
  height: 24px;
}

.form-items__link {
  color: #4870b7;
}

.form-item__subtitle {
  display: block;
  color: #979ca9;
  margin-bottom: 6px;
}

.form-item__subtitles {
  display: flex;
  justify-content: space-between;
}

.alerts-inner {
  display: flex;
  align-items: center;
  gap: 32px;
}

.alert-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.alert-info label {
  color: #4c515c;
}

input[type=radio] {
  position: relative;
  width: 16px;
  height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=radio]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #979ca9;
}

input[type=radio]:checked::before {
  border: 1px solid #5b85ce;
}

input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #5b85ce;
  transform: translate(-50%, -50%);
}

.clarifications {
  display: flex;
  gap: 12px;
}

.clarifications-wrapper__date {
  max-width: 236px;
}
.clarifications-wrapper__date .form-item__select {
  width: 97%;
}

.select-wrapper__time {
  width: 112px;
}
.select-wrapper__time .form-item__select {
  width: 96%;
}

.select-items {
  display: flex;
  gap: 12px;
}/*# sourceMappingURL=main.css.map */