.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: $darkBgColor;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.footer-link, .footer-desc {
  font-size: 12px;
  color: $formSubtitleColor;
}