.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-title {
  font-size: 20px;
  line-height: 24px;
  color: $darkBlueColor;
  margin-bottom: 20px;
  letter-spacing: 1.6px;
  font-weight: 700;
}

.form-items {
  padding: 15px 20px 20px 20px;
  background-color: $whiteColor;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-item__select {
  background-color: #f6f6f7;
  color: $darkGrayFormText;
  border: 1px solid #cbcfd8;
  border-radius: 4px;
  width: 100%;
  padding: 8px 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.form-item__select::-ms-expand {
  display: none;
}

.form-item__desc {
  color: $darkGrayFormText;
}

.form-item__textarea {
  border: 1px solid #cbcfd8;
  border-radius: 4px;
  width: 100%;
  color: $darkGrayFormText;
  resize: none;
  padding: 7px 12px;
}

.form-items__padding {
  padding: 14px 20px 20px 56px;
}

.form-items__title {
  position: relative;
  margin-bottom: 8px;
}

.form-items__title::before {
  content: '';
  position: absolute;
  background-image: url('../../resources/icons/done.svg');
  left: -35px;
  top: 0;
  width: 24px;
  height: 24px;
}

.form-items__link {
  color: $formLinksColor;
}

.form-item__subtitle {
  display: block;
  color: $formSubtitleColor;
  margin-bottom: 6px;
}

.form-item__subtitles {
  display: flex;
  justify-content: space-between;
}

.alerts-inner {
  display: flex;
  align-items: center;
  gap: 32px;
}

.alert-info {
  display: flex;
  align-items: center;
  gap: 8px;

  label {
    color: $darkGrayFormText;
  }

  input[type='radio'] {
    position: relative;
    min-width: 16px;
    height: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid $formSubtitleColor;

  }

  input[type='radio']:checked::before {
    border: 1px solid $radioInputColor;
  }

  input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: $radioInputColor;
    transform: translate(-50%, -50%);
  }
}

.clarifications {
  display: flex;
  gap: 12px;

  .form-item__select {
    background-color: $whiteColor;
  }
}

.clarifications-wrapper__date {
  max-width: 236px;
  width: 100%;
}

.select-wrapper {
  position: relative;
}

.select-wrapper__time {
  width: 112px;
}

.select-items {
  display: flex;
  gap: 12px;
}

.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
  width: 16px;
  height: 10px;
  background: url(../../resources/icons/arrow-select-gray1.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

// ------ Format

.format {
  display: flex;
  gap: 12px;
}

.format-type {
  display: flex;
  align-items: center;
  gap: 12px;
  min-width: 112px;
  padding: 8px;
  border-radius: 4px;

  input[type='radio'] {
    position: relative;
    min-width: 39px;
    height: 42px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: auto;
  }

  .format-type__excel::before {
    @include format-card-image;
    background-image: url("../../resources/icons/xls.svg");
  }

  .format-type__word::before {
    @include format-card-image;
    background-image: url("../../resources/icons/docx.svg");
  }

  .format-type__pdf::before {
    @include format-card-image;
    background-image: url("../../resources/icons/pdf.svg");
  }
}

.format-type__bgColor {
  background-color: $bgCardColor;
}

// Inputs

.input-wrapper {
  input[type='text'] {
    font-size: 13px;
    color: $darkGrayFormText;
    padding: 8px 12px;
    border: 1px solid $btnLineActive;
    border-radius: 4px;
    max-width: 484px;
    width: 100%;
  }
}

// filter

.filter-items {
  display: flex;

  .filter-item {
    color: $formLinksColor;
    background-color: $whiteColor;
    padding: 3px 10px;
    border-radius: 11px;
  }

  .filter-item__checked {
    color: $whiteColor;
    background-color: $formLinksColor;
  }

  input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

// data

.data-items {
  display: flex;

  .data-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
    padding-left: 21px;
  }

  .data-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    color: $darkGrayFormText;
    position: relative;
  }
  //убираем чекбокс
  .data-items__checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .data-item__disabled {
    position: absolute;
    display: block;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
  }

  .data-items__checkbox::before {
    content: '';
    position: absolute;
    display: block;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    border: 1px solid $borderGrayColor;
    border-radius: 2px;
    transition: .3s;
  }

  .data-items__checkbox::after {
    content: '';
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-image: url(../../resources/icons/checkbox-check.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0;
    transition: .3s;
  }

  .visible::after {
    display: none;
  }

  .data-items__checkbox:checked.data-items__checkbox::after {
    opacity: 1;
  }
}

// languages

.languages-inner {
  display: flex;
  align-items: center;
  gap: 32px;
}

.languages-info {
  display: flex;
  align-items: center;
  gap: 8px;
}