@font-face {
  font-family: 'Gravity'; 
  src: url('../../resources/fonts/Gravity-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gravity';
  src: url('../../resources/fonts/Gravity-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Gravity', sans-serif;
  padding-top: 72px;
  background-color: $bgColor;
}

.container {
  width: 772px;
  margin: 0 auto;
}

a, button, label, input, textarea {
  cursor: pointer;
}

h5 {
  font-size: 12px;
}

input[type='radio'],
input[type='checkbox'] {
  width: auto;
  word-break: break-all;
}

label {
  display: inline-block;
  word-break: break-all;
}