*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Эти префиксы позволят сохранить размер шрифта */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Отступы обнуляем */
body, h1, h2, h3, h4, p, ul,
figure, blockquote, dl, dd, button {
  margin: 0;
  padding: 0;
}

/* Обнуление стилей списков */
ul,
ol {
  list-style: none;
}

/* Меньшая высота строк */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Баланс переноса текста в заголовках */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

/* Ссылки без класса получают стиль по умолчанию */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Картинки по блоку */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифт */
input, button,
textarea, select {
  font: inherit;
}

/* для пустых <textarea> */
textarea:not([rows]) {
  min-height: 10em;
}

/* Для якорных ссылок */
:target {
  scroll-margin-block: 5ex;
}