$bgColor: #f5f7fa;
$headerBgColor: #323a44;
$headerTextColor: #cbcfd8;
$darkBlueColor: #292f37;
$btnLineActive: #cbcfd8;
$whiteColor: #ffffff;
$formSubtitleColor: #979ca9;
$formLinksColor: #4870b7;
$darkGrayFormText: #4c515c;
$radioInputColor: #5b85ce;
$bgCardColor: #d8e4f9;
$borderGrayColor: #babdc7;
$greenColorBtn: #8fc144;